.faqs {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	padding: 15px;
}

.faqHeader {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 42px;
  margin-top: 60px;
}

.faq {
  margin-top: 60px;
}